<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/shristychouhan/Testing/Selenium/DataDrivenSelenium"><classes><class name="com.dd.testcases.ContactsPageTest"><methods><include name="verifyContactsPageLabelTest"/><include name="selectContactsTest"/></methods></class><class name="com.dd.testcases.HomePageTest"><methods><include name="verifyHomePageTest"/><include name="verifyUserNameTes"/><include name="verifyContactsLinkTest"/></methods></class><class name="com.dd.testcases.LoginTest"><methods><include name="loginPageTitleTest"/><include name="loginTest"/></methods></class></classes></test></suite>